[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "*"
dask = "*"
toolz = "*"
"s3contents" = "*"
ipython = "*"
numpy = "*"
ipywidgets = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
bokeh = "*"
"psycopg2-binary" = "*"
scipy = "*"


[dev-packages]

